@inherits LayoutComponentBase
@using Application.Components

<div class="d-flex flex-column page" style="height:100vh;">

    <!-- Centered login content -->
    <div class="d-flex justify-center align-center flex-grow-1">
        @Body
    </div>

    <!-- Footer -->
    <Footer />
</div>

