@inherits LayoutComponentBase
@inject ThemeService ThemeService
@inject LocalStorageService LocalStorageService

<div class="page">
    <MudNavMenu class="sidebar">
        <NavMenu />
    </MudNavMenu>

    <MudMainContent>
        <div class="headerArea px-4">
            <a href="about">Settings</a>
            <a href="about">About Me</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <div class="footerArea px-4">
            <span class="material-symbols-outlined">sunny</span>
            <MudSwitch Color=Color.Primary UncheckedColor=Color.Primary @onclick="ToggleTheme" @bind-Value="isDarkTheme"></MudSwitch>
            <span class="material-symbols-outlined">bedtime</span>
        </div>
    </MudMainContent>


</div>

@code {
    bool isDarkTheme = false;

    protected override async Task OnInitializedAsync()
    {
        isDarkTheme = await ThemeService.IsDarkThemeAsync();
    }

    private async Task ToggleTheme()
    {
        await ThemeService.ToggleThemeAsync();


        await LocalStorageService.SetEncryptedAsync("myKey", DateTime.Now.ToString("HHMMss"));
        var decrypted = await LocalStorageService.GetEncryptedAsync("myKey");
        await LocalStorageService.SetAsync("myKey_decrypted", decrypted);

        }
    }
}