@inject ThemeService ThemeService

<MudDialog>
    <DialogContent>
        <div class="d-flex align-center">
            <MudText>@(Messages.ThemeSelection)</MudText>

            <MudSpacer />

            <MudIcon Icon="@Icons.Material.Filled.WbSunny" Class="mr-2" />
            <MudSwitch Color="Color.Primary" Class="mx-2" @bind-Value="this.ThemeService.IsDarkMode" />
            <MudIcon Icon="@Icons.Material.Filled.Bedtime" Class="ml-2 mr-3" />
        </div>
        <MudColorPicker @bind-Text="this.ThemeService.PrimaryColor" ColorPickerMode="ColorPickerMode.RGB" PickerVariant="PickerVariant.Static"
                        ShowToolbar="false" ShowAlpha="false" ShowColorField="true" ShowPreview="true"
                        ShowSliders="true" ShowInputs="false" ShowModeSwitch="false" />
    </DialogContent>

    <DialogActions>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="OnDialogOK">
            @(Messages.OK)
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    /// <summary>
    /// Gets or sets the parent dialog instance.
    /// </summary>
    [CascadingParameter]
    private IMudDialogInstance? MudDialog { get; set; }

    /// <summary>
    /// Closes the dialog.
    /// </summary>
    private void OnDialogOK()
    {
        this.MudDialog?.Close(DialogResult.Ok(true));
    }
}