<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <MudAvatar>
            <MudImage Src="images/avatar.png"></MudImage>
        </MudAvatar>
        <a class="navbar-brand" href="">lll Porcu</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <MudNavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi material-symbols-outlined" aria-hidden="true">home</span> Home
            </MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink class="nav-link" href="counter">
                <span class="bi material-symbols-outlined" aria-hidden="true">link</span> Links
            </MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink class="nav-link" href="weather">
                <span class="bi material-symbols-outlined" aria-hidden="true">download_for_offline</span> Downloads
            </MudNavLink>
        </div>
    </nav>
</div>