@inherits LayoutComponentBase

<div class="d-flex flex-column page" style="height:100vh;">
    <div class="d-flex justify-center align-center flex-grow-1">
        @Body
    </div>
    <Footer />
</div>