@inherits LayoutComponentBase

<div class="page">
    <MudNavMenu class="sidebar">
        <NavMenu />
    </MudNavMenu>

    <MudMainContent>
        <div class="headerArea px-4">
            <a href="about">Settings</a>
            <a href="about">About Me</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
        <Footer />
    </MudMainContent>
</div>